@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    font-family: "Roboto",'sans-serif';
}

.main-container{
    background-image: url('./beach-87841-ws.jpg');
    width: 800px;
    height: 350px;
    background-size: cover;
    border: none;
    border-radius: 14px;
    margin: 40px auto;
    padding-top: 60px;
    position: relative;
}

.content{
    position: absolute;
    bottom: 0;
    margin-bottom: 80px;
    color: white;
    text-align: center;
   
}
.btn{
    padding: 15px 40px;
    border-radius: 30px;
    border: none;
    color: black;
    background-color: white;

}